@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  height: 100%;
  font-family: $base-fonts;
  padding: 0;
  margin: 0;
  color: #2C2E3E;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1 {
  font-size: 48px;
  line-height: 55px;
  @include media(1281px) {
    font-size: 42px;
    line-height: 50px;
  }
  @include media(769px) {
    font-size: 30px;
    line-height: 35px;
  }
}

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; border: none; background-color: transparent; }

*, *:before, *:after { box-sizing: border-box; }


.content { flex: 1 0 auto; }

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  @include media(1281px) {
    max-width: 1030px;
  }
  @include media(769px) {
    max-width: 630px;
  }
}

//Модули
@import "modules/modules";
