@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular/Formular.woff2') format('woff2');
  src: url('../fonts/Formular/Formular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular/Formular-Bold.woff2') format('woff2');
  src: url('../fonts/Formular/Formular-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular/Formular-Light.woff2') format('woff2');
  src: url('../fonts/Formular/Formular-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}