.swiperGallery {
  $this: &;

  overflow: unset;
  #{$this}__dots {
    margin-top: 50px;
    text-align: center;
    @include media(1281px) {
      margin-top: 40px;
    }
    @include media(769px) {
      margin-top: 30px;
    }
    .swiper-pagination-bullet {
      @include size(7px);
      margin: 0 8px;
      background-color: #8F95AC;
      &.swiper-pagination-bullet-active {
        background-color: $red;
      }
    }
  }
  &__slide {
    width: 470px;
    border-radius: 5px;
    overflow: hidden;
    @include media(1281px) {
      width: 390px;
    }
    @include media(769px) {
      width: 230px;
    }
    .rating {
      position: absolute;
      left: 42px;
      bottom: 30px;
      @include media(769px) {
        left: 22px;
        bottom: 18px;
      }
    }
  }
  &__arrows {
    width: calc(100% + 50px);
    position: absolute;
    left: 50%;
    top: calc(50% - 40px);
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    @include media(1281px) {
      top: calc(50% - 35px);
    }
    @include media(769px) {
      top: calc(50% - 28px);
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    @include size(50px);
    cursor: pointer;
    background-color: $white;
    box-shadow: 0px 4px 20px rgba(143, 149, 172, 0.2);
    border-radius: 100%;
    &.swiper-button-disabled {
      opacity: 0.7;
    }
  }
  &__icon {
    width: 6px;
    height: 11px;
  }
}

.rating {
  $this: &;

  display: flex;
  gap: 7px;
  @include media(769px) {
    gap: 5px;
  }
  &__item {
    cursor: pointer;
    &.active {
      #{$this}__icon {
        fill: $red;
      }
    }
  }
  &__icon {
    @include size(22px);
    fill: $white;
    @include media(769px) {
      @include size(17px);
    }
  }
}