section.s-gallery 
  .container 
    h1 Обычный слайдер
    .gallery 
      .swiper.swiperGallery
        .swiper-wrapper.swiperGallery__inner
          .swiper-slide.swiperGallery__slide
            img(src="static/images/img/slider/1.jpg" alt="Slide")
            .rating
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
          .swiper-slide.swiperGallery__slide
            img(src="static/images/img/slider/2.jpg" alt="Slide")
            .rating
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
          .swiper-slide.swiperGallery__slide
            img(src="static/images/img/slider/1.jpg" alt="Slide")
            .rating
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
          .swiper-slide.swiperGallery__slide
            img(src="static/images/img/slider/2.jpg" alt="Slide")
            .rating
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
          .swiper-slide.swiperGallery__slide
            img(src="static/images/img/slider/1.jpg" alt="Slide")
            .rating
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item.active
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
              .rating__item
                +icon('star','rating__icon')
        .swiperGallery__dots
        .swiperGallery__arrows
          .swiperGallery__arrow.swiperGallery__next
            +icon('arrow-left','swiperGallery__icon')
          .swiperGallery__arrow.swiperGallery__prev
            +icon('arrow-right','swiperGallery__icon')