footer.footer
  .container
    .footer__inner
      .footer__address 
        | Санкт-Петербург, Владимирский пр., д. 3лит. А, офис 701
      a(href="tel:+78124456809" class="footer__phone") + 7 (812) 445-68-09
      a(href="#" class="footer__write") Напишите нам 





